body {
  background-color: rgb(252, 224, 228);
}
.weatherApp {
  background-color: rgb(236, 222, 250);
  border-radius: 25px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
